.region {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    &-locations, &-units {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &-counter {
            flex: 0 0 auto;
        }
    }
}