.region {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
        align-items: center;
        display: flex;
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0 10px 0;
        
        &-influence {
            color: black;
            margin-left: 10px;
        }
    }

    
    &-locations, &-units {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        &-counter {
            flex: 0 0 auto;
            
            &-label {
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}