.header {
    width: 100%;
    align-items: center;
    background-color: rgb(168, 53, 53);
    display: flex;
    gap: 8px;
    justify-content: space-between;
    outline: 3px solid black;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 1000;
}